---
Checks: >
  bugprone-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -readability-implicit-bool-conversion,
  -modernize-use-auto,
  -readability-redundant-member-init

WarningsAsErrors: ""
HeaderFilterRegex: ".*[/\\\\]src[/\\\\].*"
FormatStyle: none
